<!--
<div><mat-accordion >
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Uchwały
        </mat-panel-title>
      </mat-expansion-panel-header>

      <button mat-raised-button color="primary" routerLink="/resolutions">Kategorie uchwał</button>
      <button mat-raised-button color="primary" routerLink="/resolutions">Najnowsze uchwały</button>
      <button mat-raised-button color="primary" routerLink="/user">Lista użytkowników</button>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div><mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Rozporządzenia
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>rozporządzenia </p>
    </mat-expansion-panel>
  </mat-accordion>
</div> -->
<!-- <div class="flex-1-1-auto" id="menu-wrapper">
<p-customPanelMenu [model]="items"></p-customPanelMenu>
</div> -->
<p-panelMenu [model]="items" [style]="{'width':'250px'}" [multiple]="false"></p-panelMenu>
