<!-- <div>Menu</div>
<div>
  <button mat-button [matMenuTriggerFor]="menu">Uchwały</button>
<mat-menu #menu="matMenu" >
  <button mat-menu-item > Item 1</button>
</mat-menu>
</div>
<div>
  <button mat-button [matMenuTriggerFor]="menu">Rozporządzenia</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
</div> -->

<cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <cdk-tree-node *cdkTreeNodeDef="let node" cdkTreeNodePadding
                 [style.display]="shouldRender(node) ? 'flex' : 'none'"
                 class="example-tree-node">
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    {{node.name}}
  </cdk-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <cdk-tree-node *cdkTreeNodeDef="let node; when: hasChild" cdkTreeNodePadding
                 [style.display]="shouldRender(node) ? 'flex' : 'none'"
                 class="example-tree-node">
    <button mat-icon-button cdkTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.filename"
            (click)="node.isExpanded = !node.isExpanded"
            [style.visibility]="node.expandable ? 'visible' : 'hidden'">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
  </cdk-tree-node>
</cdk-tree>

<div><mat-accordion >
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Uchwały
        </mat-panel-title>
      </mat-expansion-panel-header>

      <button mat-raised-button color="primary" routerLink="/resolutions">Kategorie uchwał</button>
      <button mat-raised-button color="primary" routerLink="/resolutions">Najnowsze uchwały</button>
      <button mat-raised-button color="primary" routerLink="/user">Lista użytkowników</button>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div><mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Rozporządzenia
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>rozporządzenia </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

