@import "./src/styles/palette.scss";

:host {
  padding:  10px;
  background-color: $side-color;
}

.example-tree-node {
  display: flex;
  align-items: center;
}

.mat-form-field {
  margin-left: 20px;
}

