<header fxLayoutAlign="space-between center">
  <div class="logo">
    LOGO
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <button mat-raised-button color="primary" routerLink="/kancelaria/home">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      Strona startowa</button>
    <button mat-raised-button color="primary" routerLink="/registration">
      <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
      Rejestracja</button>
    <button mat-raised-button color="primary" (click)= wybor();>
      <mat-icon aria-hidden="false" aria-label="Example home icon">login</mat-icon>
      {{nazwaPrzysiku}}</button>
  </div>
</header>
