<div class="shadowbox-page">
  <mat-list>
    <mat-list-item>
      <div style="float: right;">
        <mat-form-field>
          <input Simply-Space type="text" matInput placeholder="wyszukaj..." [formControl]="term">
          <i class="fa fa-eraser" matSuffix style="cursor: pointer;"></i>
        </mat-form-field>
      </div>
    </mat-list-item>
    <mat-list-item class="subpage-header">Lista uchwał</mat-list-item>
    <mat-divider></mat-divider><br>
  </mat-list>
  <div *ngIf="lista.listaUchwal.length > 0; else emptyList ">
    <mat-accordion *ngFor="let resolution of lista.listaUchwal">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <br>{{resolution.opis}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="item-detail">Kategoria: {{resolution.nazwaKategorii}}</p>
        <p class="item-detail">Treść: {{resolution.tresc}}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <ng-template #emptyList>
    <p>{{ komunikat }}</p>
  </ng-template>
</div>