<div class="shadowbox-page">
  <mat-list>
    <mat-list-item class="subpage-header">Szczegóły użytkownika</mat-list-item>
    <mat-divider></mat-divider><br>
  </mat-list>
  <div class="container-box" style="width: auto;">
    <div *ngIf="user">
      <div class="item-detail">
        <label><b>Imię:</b></label> {{user.name}}
      </div>
      <div class="item-detail">
        <label><b>Nazwisko: </b></label> {{user.surname}}
      </div>
      <div class="item-detail">
        <label><b>Login: </b></label> {{user.username}}
      </div>
      <div class="item-detail">
        <label><b>Hasło: </b></label> {{user.password}}
      </div>
      <div class="item-detail">
        <label><b>e-mail: </b></label> {{user.email}}
      </div>
      <div class="item-detail">
        <label><b>Płeć: </b></label> {{user.sex}}
      </div>
      <div class="item-detail">
        <label><b>Telefon: </b></label> {{user.phoneNumber}}
      </div>
      <div class="item-detail">
        <label><b>Stan konta: </b></label> {{user.activationState}}
      </div>
      <div class="item-detail">
        <label><b>Rola systemowa: </b></label> {{user.roles}}
      </div>
      <div class="item-detail">
        <label><b>Data utworzenia: </b></label> {{user.dateAdded}}
      </div>
    </div>

    <br>
    <br>
    <button mat-raised-button color="primary" style="margin-right: 5px" (click)="list()">Wróć do listy
      użytkowników</button><br>
  </div>
</div>