<p-toast position="top-center" key="tc"></p-toast>
<div class="shadowbox-page">
<mat-list>
  <mat-list-item >
  <div style="float: right;">
    <mat-form-field>
      <input Simply-Space type="text" matInput placeholder="wyszukaj..." [formControl]="term">
      <i class="fa fa-eraser" matSuffix style="cursor: pointer;"></i>
    </mat-form-field>
  </div>
  </mat-list-item>
  <mat-divider></mat-divider><br>
  <mat-list-item class="subpage-header">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>playlist_add</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/office/add-user">
        <mat-icon>add_circle_outline</mat-icon>
        <span>Dodaj nowego użtkownika</span>
      </button>
      <!-- <button matt-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button> -->
    </mat-menu>
    Lista użytkowników
  </mat-list-item>
  <mat-divider></mat-divider><br>
</mat-list>
<p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" [position]="position" [baseZIndex]="10000">
</p-confirmDialog>
<p-messages [value]="msgs"></p-messages>
<div>
  <mat-accordion *ngFor="let user of listUsers?.listaUzytkownikow">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <br>{{user.imie}} {{user.nazwisko}}
        </mat-panel-title>
        <mat-panel-description>
          <!-- {{panelOpenState ? 'Pokaż szczegóły' : 'Ukryj szczegóy'}} -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Login: {{user.username}}</p>
      <p>E-mail: {{user.email}}</p>
      <p>Płeć: {{user.plec}}</p>
      <p>Telefon: {{user.telefon}}</p>
      <!-- <button  mat-raised-button color="primary" style="margin-right: 5px" (click)="deleteUser(user.id)">
      <mat-icon aria-hidden="false" aria-label="Example home icon">delete_sweep</mat-icon>
      Usuń</button> -->
      <button mat-raised-button color="primary" style="margin-right: 5px" (click)="confirmPosition('top', user.id, user.username)">
        <mat-icon aria-hidden="false" aria-label="Example home icon">delete_sweep</mat-icon>
        Usuń
      </button>

      <button mat-raised-button color="primary" style="margin-right: 5px" (click)="upDateUser(user.id)">
        <mat-icon aria-hidden="false" aria-label="Example home icon">build</mat-icon>
        Modyfikuj
      </button>
      <button mat-raised-button color="primary" style="margin-right: 5px" (click)="detailsUser(user.id)">
        <mat-icon aria-hidden="false" aria-label="Example home icon">info</mat-icon>
        Szczegóły
      </button>
      <ng-container *ngIf="user.stan === userStateEnum.NIEAKTYWNY; else unActivate">
        <button mat-raised-button color="primary" style="margin-right: 5px" (click)="activeUser(user.id, url)">
          <mat-icon aria-hidden="false" aria-label="Example home icon">lock</mat-icon>
          Aktywuj użytkownika
        </button>
      </ng-container>
      <ng-template #unActivate>
        <button mat-raised-button color="primary" style="margin-right: 5px" (click)="unActivateUser(user.id)">
          <mat-icon aria-hidden="false" aria-label="Example home icon">mail_outline</mat-icon>
          Dezaktywuj użytkownika
        </button>
      </ng-template>
      <button mat-raised-button color="primary" style="margin-right: 5px" (click)="resetPassword(user.username)">
        <mat-icon aria-hidden="false" aria-label="Example home icon">mail_outline</mat-icon>
        Reset hasła
      </button>
    </mat-expansion-panel>
  </mat-accordion>
</div>
</div>

