<div class="shadowbox-page">
  <mat-list>
    <mat-list-item class="subpage-header">Modyfikuj uchwałę</mat-list-item>
    <mat-divider></mat-divider><br>
  </mat-list>
  <div class="container-box" style="width: auto;">
    <form (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Nazwa uchwały</mat-label>
        <input matInput placeholder="Nazwa" required [(ngModel)]="resolution.resolutionName" name="name">
      </mat-form-field>
      <div>
        <mat-form-field appearance="outline" style="min-width: 430px;">
          <mat-label>Treść uchwały</mat-label>
          <textarea matInput placeholder="Treść" required [(ngModel)]="resolution.contents" name="contents"></textarea>
        </mat-form-field>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Kategoria</mat-label>
        <mat-select required [(ngModel)]="resolution.categoryId" name="category">
          <mat-option *ngFor="let categoryResolution of category?.categoryList" [value]="categoryResolution.id">
            {{categoryResolution.categoryName}} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Czy publiczny</mat-label>
        <select matNativeControl required [(ngModel)]="resolution.isPublic" name="isPublic">
          <option *ngFor="let item of list" [selected]="resolution.isPublic=== item.value" [value]="item.value">
            {{item.viewValue}}</option>
        </select>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" type="submit" class="btn btn-success"
          style="margin-right: 5px">Zapisz</button>
        <button mat-raised-button color="primary" style="margin-right: 5px"
          (click)="goToListResolution()">Cofnij</button>
      </div>
    </form>
  </div>
</div>