<p-toast position="top-center" key="tc"></p-toast>
<div class="shadowbox-page">
  <mat-list>
    <mat-list-item class="subpage-header">Dodaj nowego uzytkownika</mat-list-item>
    <mat-divider></mat-divider><br>
  </mat-list>

  <div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="50">
      <mat-toolbar color="primary">Uzupelnij formularz</mat-toolbar>
      <form fxLayoutAlign="streach" fxLayout="column" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <mat-form-field>
          <mat-label>Login</mat-label>
          <input matInput placeholder="Podaj login" [formControl]="username" class="login-form"
            [errorStateMatcher]="matcher">
          <mat-error *ngIf="username.hasError('required')">
            Login jest <strong>wymagany</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Hasło</mat-label>
          <input matInput type="password" placeholder="Podaj hasło" [formControl]="password" class="login-form"
            [errorStateMatcher]="matcher">

          <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
            Hasło nie może być krótsze niż 8 znaków
          </mat-error>
          <mat-error *ngIf="password.hasError('required')">
            Hasło jest <strong>wymagane</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Imię</mat-label>
          <input matInput placeholder="Podaj imię" [formControl]="name" class="login-form"
            [errorStateMatcher]="matcher">
          <mat-error *ngIf="name.hasError('required')">
            Imię jest <strong>wymagane</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Nazwisko</mat-label>
          <input matInput placeholder="Podaj nazwisko" [formControl]="surname" class="login-form"
            [errorStateMatcher]="matcher">
          <mat-error *ngIf="surname.hasError('required')">
            Nazwisko jest <strong>wymagane</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>e-mail</mat-label>
          <input matInput placeholder="Podaj e-mail" type="email" [formControl]="email" class="login-form"
            [errorStateMatcher]="matcher">
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Proszę wpisać poprawny adres e-mail - przykład: adam.kowalski@example.pl
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            Email jest <strong>wymagany</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Telefon</mat-label>
          <input matInput type="tel" placeholder="Podaj telefon" [formControl]="phoneNumber"
            class="login-form" [errorStateMatcher]="matcher">
          <mat-error *ngIf="phoneNumber.hasError('minlength') && !phoneNumber.hasError('required')">
            Numer telefonu musi mieć conajmniej 9 cyfr
          </mat-error>
          <mat-error *ngIf="phoneNumber.hasError('required')">
            Numer telefonu jest <strong>wymagany</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Płeć</mat-label>
          <mat-select [formControl]="sex">
            <mat-option *ngFor="let item of listSex" [value]="item">{{item}} </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Rola systemowa</mat-label>
          <mat-select [formControl]="rolesName">
            <mat-option *ngFor="let item of listRole" [value]="item">{{item}} </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Stan konta</mat-label>
          <input matInput disabled value="NIEAKTYWNY">
          <!-- <input matInput  placeholder="Podaj stan" formControlName="stan" class="login-form" > -->
        </mat-form-field>

        <button mat-raised-button type="submit">Dodaj</button>
      </form>
    </mat-card>
  </div>
</div>