<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Ustaw hasło użytkownika</mat-toolbar>
    <form fxLayoutAlign="streach" fxLayout="column" class="login-form"[formGroup]="formGroup" (ngSubmit)="setPassword()" >
      <mat-form-field>
        <mat-label>Wpisz nowe hasło</mat-label>
        <input matInput Type="password" placeholder="Hasło" formControlName="password_1">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Powtórz nowe hasło</mat-label>
        <input matInput Type="password" placeholder="Powtórz hasło" formControlName="password_2">
      </mat-form-field>
      <button mat-raised-button type="submit">Zapisz</button>
    </form>
  </mat-card>
</div>
