<p>Strona główna Kancelarii</p>
<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>
<h5>MultiLine</h5>
<div class="p-grid">
  <div class="p-col-6">
    <div class="box">6</div>
  </div>
  <div class="p-col-6">
    <div class="box">6</div>
  </div>
  <div class="p-col-6">
    <div class="box">6</div>
  </div>
  <div class="p-col-6">
    <div class="box">6</div>
  </div>
</div>
<button pButton type="button" label="Click" ></button>
