<div class="shadowbox-page">
  <mat-list>
    <mat-list-item class="subpage-header">Strona główna</mat-list-item>
    <mat-divider></mat-divider><br>
  </mat-list>
  <div class="box-size">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Zakres usług</mat-card-title>
        <mat-card-subtitle>Kancelaria Adwokacka AHG</mat-card-subtitle>
      </mat-card-header>
      <div mat-card-image></div>
      <mat-card-content>
        <p>Kancelaria adwokat Angelika Holender-Gajewska oferuje Klientom indywidualnym, podmiotom gospodarczym i
          instytucjom szeroki zakres usług prawnych. Główne formy świadczenia usług Kancelarii to:</p>
        <ul>
          <li>udzielanie konsultacji i porad prawnych,</li>
          <li>sporządzanie opinii prawnych, projektów umów, pism procesowych,</li>
          <li>reprezentacja Klientów przed sądami wszystkich instancji, organami administracji publicznej, organami
            podatkowymi i organami ścigania.</li>
        </ul>
        <p>Adwokat Angelika Holender-Gajewska zajmuje się kompleksową obsługą prawną osób fizycznych, firm i innych
          podmiotów nie prowadzących działalności gospodarczej takich jak fundacje czy stowarzyszenia.

          Świadczę profesjonalną i kompletną ochronę prawną obejmującą:

          doradztwo (porady, konsultacje, analizy, opinie) przygotowanie dokumentów (wnioski, pozwy, pisma
          przedprocesowe i procesowe, umowy, ugody, regulaminy) reprezentację przed sądami wszystkich instancji oraz
          organami administracji publicznej i samorządowej.</p>
      </mat-card-content>
      <br>
      <mat-card-header >
        <mat-card-title>Ostatnie 10 orzeczeń z Systemu Analizy Orzeczeń Sądowych</mat-card-title>
      </mat-card-header>
        <div>
          <li *ngFor="let judgment of list">
            <a href="https://www.saos.org.pl/judgments/{{judgment.id}}">{{judgment.judgmentDate}} {{judgment.courtCases[0].caseNumber}} {{judgment.division.court.name}}</a>
            <p>...{{judgment.textContent}}...</p>
          </li>
        </div>
    </mat-card>
  </div>
</div>