<mat-list>
  <mat-list-item>Modyfikuj użytkownika {{user.username}}</mat-list-item>
  <mat-divider></mat-divider><br>
</mat-list>

<!-- <div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Imie</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="user.imie" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">Nazwisko</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="user.nazwisko" name="lastName">
    </div>

    <div class="form-group">
      <label for="name">Login</label>
      <input type="text" class="form-control" id="userId" required [(ngModel)]="user.username" name="userId">
    </div>

    <div class="form-group">
      <label for="name">Haslo</label>
      <input type="text" class="form-control" id="passId" required [(ngModel)]="user.password" name="passId">
    </div>

    <div class="form-group">
      <label for="name">e-mail</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="user.email" name="emailId">
    </div>

    <div class="form-group">
      <label for="name">Telefon</label>
      <input type="text" class="form-control" id="telId" required [(ngModel)]="user.telefon" name="telId">
    </div>

    <div class="form-group">
      <label for="name">Plec</label>
      <input type="text" class="form-control" id="sexId" required [(ngModel)]="user.plec" name="sexId">
    </div>

<section>
  <button  mat-raised-button color="primary" style="margin-right: 5px">Zapisz</button>
  <button  mat-raised-button color="primary" style="margin-right: 5px" (click)="gotoList()">Cofnij</button>
</section>
  </form>
</div> -->
<p>
<mat-form-field class="example-form-field">
  <mat-label>Imię</mat-label>
  <input matInput type="text" [(ngModel)]="user.imie">
  <button mat-button *ngIf="user.imie" matSuffix mat-icon-button aria-label="Clear" (click)="user.imie=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
</p>
<p>
<mat-form-field class="example-form-field">
  <mat-label>Nazwisko</mat-label>
  <input matInput type="text" [(ngModel)]="user.nazwisko">
  <button mat-button *ngIf="user.nazwisko" matSuffix mat-icon-button aria-label="Clear" (click)="user.nazwisko=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
</p>
<p>
<mat-form-field class="example-form-field">
  <mat-label>Login</mat-label>
  <input matInput type="text" [(ngModel)]="user.username">
  <button mat-button *ngIf="user.username" matSuffix mat-icon-button aria-label="Clear" (click)="user.username=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
</p>
<p>
<mat-form-field class="example-form-field">
  <mat-label>Hasło</mat-label>
  <input matInput type="text" [(ngModel)]="user.password">
  <button mat-button *ngIf="user.password" matSuffix mat-icon-button aria-label="Clear" (click)="user.password=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
</p>
<p>
<mat-form-field class="example-form-field">
  <mat-label>E-mail</mat-label>
  <input matInput type="text" [(ngModel)]="user.email">
  <button mat-button *ngIf="user.email" matSuffix mat-icon-button aria-label="Clear" (click)="user.email=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<p>
<mat-form-field class="example-form-field">
  <mat-label>Telefon</mat-label>
  <input matInput type="text" [(ngModel)]="user.telefon">
  <button mat-button *ngIf="user.telefon" matSuffix mat-icon-button aria-label="Clear" (click)="user.telefon=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
</p>
<!-- <p>
<mat-form-field class="example-form-field">
  <mat-label>Płeć</mat-label>
  <input matInput type="text" [(ngModel)]="user.plec">
  <button mat-button *ngIf="user.plec" matSuffix mat-icon-button aria-label="Clear" (click)="user.plec=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
</p> -->
<p>
  <mat-form-field appearance="fill">
    <mat-label>Płeć</mat-label>
    <mat-select [(ngModel)]="user.plec">
      <mat-option *ngFor="let plec of listaPlci" [value]="plec">{{plec}}</mat-option>
    </mat-select>
  </mat-form-field>
</p>
<section>
  <button  mat-raised-button color="primary" style="margin-right: 5px" (click)="onSubmit()">Zapisz</button>
  <button  mat-raised-button color="primary" style="margin-right: 5px" (click)="gotoList()">Cofnij</button>
</section>
