<p-toast position="top-center" key="tc"></p-toast>
<div class="shadowbox-page">
  <mat-list>
    <mat-list-item class="subpage-header">Modyfikuj użytkownika {{user.username}}</mat-list-item>
    <mat-divider></mat-divider><br>
  </mat-list>
  <div class="container-box" style="width: auto;">
    <div class="item-detail">
      <mat-form-field class="example-form-field">
        <mat-label>Imię</mat-label>
        <input matInput type="text" [(ngModel)]="user.name">
        <button mat-button *ngIf="user.name" matSuffix mat-icon-button aria-label="Clear" (click)="user.name=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="item-detail">
      <mat-form-field class="example-form-field">
        <mat-label>Nazwisko</mat-label>
        <input matInput type="text" [(ngModel)]="user.surname">
        <button mat-button *ngIf="user.surname" matSuffix mat-icon-button aria-label="Clear"
          (click)="user.surname=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="item-detail">
      <mat-form-field class="example-form-field">
        <mat-label>Login</mat-label>
        <input matInput type="text" [(ngModel)]="user.username">
        <button mat-button *ngIf="user.username" matSuffix mat-icon-button aria-label="Clear"
          (click)="user.username=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="item-detail">
      <mat-form-field class="example-form-field">
        <mat-label>Hasło</mat-label>
        <input matInput type="text" [(ngModel)]="user.password">
        <button mat-button *ngIf="user.password" matSuffix mat-icon-button aria-label="Clear"
          (click)="user.password=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="item-detail">
      <mat-form-field class="example-form-field">
        <mat-label>E-mail</mat-label>
        <input matInput type="text" [(ngModel)]="user.email">
        <button mat-button *ngIf="user.email" matSuffix mat-icon-button aria-label="Clear" (click)="user.email=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="item-detail">
      <mat-form-field class="example-form-field">
        <mat-label>Telefon</mat-label>
        <input matInput type="text" [(ngModel)]="user.phoneNumber">
        <button mat-button *ngIf="user.phoneNumber" matSuffix mat-icon-button aria-label="Clear" (click)="user.phoneNumber=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="item-detail">
      <mat-form-field appearance="fill">
        <mat-label>Płeć</mat-label>
        <mat-select [(ngModel)]="user.sex">
          <mat-option *ngFor="let item of sexList" [value]="item">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="item-detail">
      <mat-form-field appearance="fill">
        <mat-label>Rola systemowa</mat-label>
        <mat-select [(ngModel)]="roles">
          <mat-option *ngFor="let item of rolesList" [value]="item">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <section>
      <button mat-raised-button color="primary" style="margin-right: 5px" (click)="onSubmit()">Zapisz</button>
      <button mat-raised-button color="primary" style="margin-right: 5px" (click)="gotoList()">Cofnij</button>
    </section>
  </div>
</div>