<mat-list>
  <mat-list-item>Modyfikuj użytkownika {{user.username}}</mat-list-item>
  <mat-divider></mat-divider><br>
</mat-list>

<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Imie</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="user.imie" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">Nazwisko</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="user.nazwisko" name="lastName">
    </div>

    <div class="form-group">
      <label for="name">Login</label>
      <input type="text" class="form-control" id="userId" required [(ngModel)]="user.username" name="userId">
    </div>

    <div class="form-group">
      <label for="name">Haslo</label>
      <input type="text" class="form-control" id="passId" required [(ngModel)]="user.password" name="passId">
    </div>

    <div class="form-group">
      <label for="name">e-mail</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="user.email" name="emailId">
    </div>

    <div class="form-group">
      <label for="name">Telefon</label>
      <input type="text" class="form-control" id="telId" required [(ngModel)]="user.telefon" name="telId">
    </div>

    <div class="form-group">
      <label for="name">Plec</label>
      <input type="text" class="form-control" id="sexId" required [(ngModel)]="user.plec" name="sexId">
    </div>
<section>
  <button  mat-raised-button color="primary" style="margin-right: 5px">Zapisz</button>
  <button  mat-raised-button color="primary" style="margin-right: 5px" (click)="gotoList()">Cofnij</button>
</section>


  </form>
</div>
