<p>resolution works!</p>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista kategorii</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>RodzajKategorii</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resolutions of listaKategorii.listaKategorii">
          <td>{{resolutions.rodzajKategorii}}</td>
          <td><button  mat-button color = "warn" >Usuń</button>
              <button mat-button style="margin-left: 10px">Szczegóły</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <button mat-stroked-button color="primary" " >Wyswietl uchwaly</button> -->
<mat-selection-list #shoes [multiple]="false">
  <mat-list-option *ngFor="let resolutions of listaKategorii.listaKategorii">
    <td>{{resolutions.rodzajKategorii}}
      <button  mat-button color = "warn" style="margin-left: 300px" >Usuń</button>
      <button mat-button style="margin-left: 300px">Szczegóły</button>
    </td>


  </mat-list-option>
</mat-selection-list>

