
<mat-list>
  <mat-list-item>Kategorie uchwał</mat-list-item>
  <mat-divider></mat-divider><br>
</mat-list>
<mat-selection-list #shoes [multiple]="false">
  <mat-list-option *ngFor="let resolutions of listaKategorii.listaKategorii">
      <td>
        {{resolutions.rodzajKategorii}}
      <button  mat-raised-button color="primary" style="margin-right: 5px" >
        <mat-icon aria-hidden="false" aria-label="Example home icon">delete_sweep</mat-icon>
        Usuń</button>
      <button  mat-raised-button color="primary" style="margin-right: 5px" >
        <mat-icon aria-hidden="false" aria-label="Example home icon">build</mat-icon>
        Modyfikuj</button>
      <button  mat-raised-button color="primary" style="margin-right: 5px">
        <mat-icon aria-hidden="false" aria-label="Example home icon">info</mat-icon>
        Szczegóły</button>
</td>
  </mat-list-option>
</mat-selection-list>
<mat-list>
  <div mat-subheader>Kategorie uchwał</div>
  <mat-list-item *ngFor="let resolutions of listaKategorii.listaKategorii">
    <mat-icon mat-list-icon>folder</mat-icon>
    <div mat-line>{{resolutions.rodzajKategorii}}</div>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>

