<p-toast position="top-center" key="tc"></p-toast>
<div class="shadowbox-page">
<mat-list>
  <mat-list-item class="subpage-header">Dodaj nowe rozporządzenie</mat-list-item>
  <mat-divider></mat-divider><br>
</mat-list>
<div class="container-box" [hidden]="submitted" style="width: auto;">
  <form (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Nazwa</mat-label>
      <input matInput placeholder="Opis rozporzadzenia" required [(ngModel)]="regulation.regulationName" name="name">
    </mat-form-field>
    <div>
      <mat-form-field appearance="outline" style="min-width: 430px;">
      <mat-label>Treść</mat-label>
      <textarea matInput placeholder="Treść" required [(ngModel)]="regulation.contents" name="contents"></textarea>
    </mat-form-field>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Kategoria</mat-label>
      <mat-select required [(ngModel)]="regulation.category" name="category">
        <mat-option *ngFor="let category of categoryList?.categoryList" [value]="category.id">
          {{category.categoryName}} </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Czy publiczny</mat-label>
      <mat-select required [(ngModel)]="regulation.isPublic" name="isPublic">
        <mat-option value="true">Tak</mat-option>
        <mat-option value="false">Nie</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" type="submit" class="btn btn-success">Dodaj rozporzadzenie</button>
    </div>
  </form>
</div>
<div [hidden]="!submitted">
  <h4>Rozporzadzenie zostało poprawnie dodane!</h4>
  <button mat-raised-button color="primary" class="btn btn-success" (click)="newRegulation()">Dodaj nowe
    rozporzadzenie</button>
</div>
</div>