<div class="shadowbox-page">
  <mat-list>
    <mat-list-item>
      <div style="float: right;">
        <mat-form-field>
          <input Simply-Space type="text" matInput placeholder="wyszukaj kategorie" [formControl]="term">
          <i class="fa fa-eraser" matSuffix style="cursor: pointer;"></i>
        </mat-form-field>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider><br>
    <mat-list-item class="subpage-header">Kategorie uchwał</mat-list-item>
    <mat-divider></mat-divider><br>
  </mat-list>
  <p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" [position]="position" [baseZIndex]="10000">
  </p-confirmDialog>
  <p-messages [value]="msgs"></p-messages>
  <div class="container-box" style="width: auto;">
    <p-table *ngIf="listCategory?.length > 0" [value]="listCategory" styleClass="p-datatable-striped"
      responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>Nazwa kategorii</th>
          <th>Opublikowana</th>
          <th>Modyfikuj / Wyświetl szczegóły</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-listCategory>
        <tr>
          <td>
            <span class="ellipsis">{{listCategory.rodzajKategorii}}</span>
          </td>
          <td>
            <p-checkbox [(ngModel)]="listCategory.czyPubliczny" disabled="true" binary="true" inputId="binary">
            </p-checkbox>
          </td>
          <td>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
              <mat-icon>menu_open</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="confirmPosition('top', listCategory.id, listCategory.rodzajKategorii)">
                <mat-icon>delete</mat-icon>
                <span>Usuń</span>
              </button>
              <button mat-menu-item (click)="modifyCategory(listCategory.id)">
                <mat-icon>mode_edit</mat-icon>
                <span>Modyfikuj</span>
              </button>
              <button mat-menu-item (click)="detailsCategory(listCategory.id)">
                <mat-icon>info</mat-icon>
                <span>Szczegóły</span>
              </button>
            </mat-menu>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p *ngIf="listCategory?.length == 0">Lista kategorii jest pusta.</p>
  </div>
</div>