<mat-list>
  <mat-list-item class="subpage-header">Dodaj nowa uchwałe</mat-list-item>
  <mat-divider></mat-divider><br>
</mat-list>

<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
      <mat-label>Opis</mat-label>
      <input matInput placeholder="Opis uchwały" required [(ngModel)]="resolution.opis" name="opis">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Treść</mat-label>
      <input type="text" matInput placeholder="Treść uchwały" required [(ngModel)]="resolution.tresc" name="treść">
    </mat-form-field>
    <!-- <mat-form-field appearance="outline">
      <mat-label>Kategoria</mat-label>
      <input matInput placeholder="Kategoria uchwały" required [(ngModel)]="resolution.kategoria" name="kategoria">
    </mat-form-field> -->
    <mat-form-field appearance="fill">
      <mat-label>Kategoria</mat-label>
      <mat-select required [(ngModel)]="resolution.kategoria" name="kategoria">
        <mat-option *ngFor="let kategoria of category.listaKategorii" [value]="kategoria.id">{{kategoria.rodzajKategorii}} </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox class="example-margin" color="primary" [(ngModel)]="resolution.czyPubliczny" name="czyPubliczny">Czy
      opublikowac uchwałe</mat-checkbox>
    <div>
      <button mat-raised-button color="primary" type="submit" class="btn btn-success">Dodaj uchwale</button>
    </div>
  </form>
</div>
<div [hidden]="!submitted">
  <h4>Uchwala została poprawnie dodana!</h4>
  <button mat-raised-button color="primary" class="btn btn-success" (click)="newResolution()">Dodaj nową
    uchwałe</button>
</div>








<!-- <div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="50">
      <mat-toolbar color="primary">Dane uchwały</mat-toolbar>
      <form fxLayoutAlign="streach" fxLayout="column" [formGroup]="resolutionForm" (ngSubmit)="onSubmit()">
        <!-- <mat-form-field appearance="outline">
          <mat-label>Opis</mat-label>
          <input matInput placeholder="Opis uchwały" required [(ngModel)]="resolution.opis" name="opis" > -->
<!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
<!-- <mat-hint>Hint</mat-hint> -->
<!-- </mat-form-field> -->


<!-- <mat-form-field>
          <mat-label>Opis</mat-label>
          <input matInput placeholder="Opis uchwały" formControlName="opis" class="login-form">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Treść</mat-label>
          <input matInput placeholder="Treść uchwały" formControlName="tresc" class="login-form">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Kategoria</mat-label>
          <mat-select formControlName="kategoria">
            <mat-option *ngFor="let wybor of kategorie" [value]="wybor">{{wybor}} </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-checkbox class="example-margin" color="primary" [(ngModel)]="resolution.czyPubliczny"
           name="czyPubliczny">Czy opublikowac kategorie</mat-checkbox>
        </mat-form-field>
      </form>
    </mat-card>

</div>  -->
