
<!-- <div class="shadowbox-page">
    <mat-list>
      <mat-list-item class="subpage-header">Wyloguj</mat-list-item>
      <mat-divider></mat-divider><br>
    </mat-list>
    <p>
        Trwa wylogowywanie z aplikacji...
    </p>
    <p-messages></p-messages> 
</div> -->

<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
      <mat-toolbar color="primary">Wyloguj</mat-toolbar>
      <mat-card-header>
        <mat-card-title class="box-info" >Trwa wylogowywanie...</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>


