<div class="shadowbox-page">
  <mat-list>
    <mat-list-item class="subpage-header">Szczegóły kategorii</mat-list-item>
    <mat-divider></mat-divider><br>
  </mat-list>
  <div class="container-box" style="width: auto;">
    <div class="item-detail">
      <label><b>Nazwa kategorii:</b></label> {{category.categoryName}}
    </div>
    <div class="item-detail">
      <label><b>Publiczna: </b></label> {{category.isPublic ? "Tak" : "Nie"}}
    </div>
    <div>
      <br>
      <br>
      <button mat-raised-button color="primary" style="margin-right: 5px" (click)="list()">Wróć do listy</button><br>
    </div>
  </div>