
<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Logowanie do aplikacji</mat-toolbar>
    <form fxLayoutAlign="streach" fxLayout="column" class="login-form"[formGroup]="formGroup" (ngSubmit)="loginProces()" >
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input matInput placeholder="Wpisz login" formControlName="username">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Hasło</mat-label>
        <input matInput Type="password" placeholder="Wpisz haslo" formControlName="password">
      </mat-form-field>
      <button mat-raised-button type="submit">Zaloguj</button>
      <!-- <button mat-raised-button type="submit" (click)="resetPassword()">resetuj haslo</button> -->
    </form>
  </mat-card>
</div>

