<p-toast position="top-center" key="tc"></p-toast>
<div class="shadowbox-page">
  <mat-list>
    <mat-list-item class="subpage-header">Dodaj kategorie uchwał</mat-list-item>
    <mat-divider></mat-divider><br>
  </mat-list>

  <div class="container-box" [hidden]="submitted" style="width: 300px;">
    <form (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Nazwa kategorii</mat-label>
        <input matInput placeholder="Wpisz nazwe kategorii" required [(ngModel)]="category.categoryName"
          name="categoryName" #categoryName>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Czy publiczny</mat-label>
        <mat-select required [(ngModel)]="category.isPublic" name="isPublic">
          <mat-option value="true">Tak</mat-option>
          <mat-option value="false">Nie</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button [disabled]="categoryName.value === ''" mat-raised-button color="primary" type="submit"
          class="btn btn-success">Dodaj kategorie</button>
      </div>
    </form>
  </div>
  <div [hidden]="!submitted">
    <button mat-raised-button color="primary" class="btn btn-success" (click)="newCategory()">Dodaj nową
      kategorie</button>
  </div>
</div>