<div class="shadowbox-page">
  <mat-list>
    <mat-list-item class="subpage-header">Kariera</mat-list-item>
    <mat-divider></mat-divider><br>
  </mat-list>
  <div class="box-size">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Kariera</mat-card-title>
        <mat-card-subtitle>Kancelaria Adwokacka AHG</mat-card-subtitle>
      </mat-card-header>
      <div mat-card-image></div>
      <mat-card-content>
        <p>Jesteś zainteresowany pracą w kancelarii adwokackiej?</p>
        <p>Masz ukończone studia prawnicze bądź jesteś w ich trakcie?</p>
        <p>Skontaktuj się ze mną i umów się na rozmowę.</p>
        <ul>
          <li>adwokataholender@gmail.com</li>
          </ul>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="box-size">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Oferty</mat-card-title>
        <mat-card-subtitle>Aktualne oferty pracy</mat-card-subtitle>
      </mat-card-header>
      <div mat-card-image></div>
      <mat-card-content>
        <p>Pomoc biurowa</p>
        <ul>
          <li>cały etat lub 3/4</li>
          <li>praca stacjonarna/praca zdalna</li>
          <li>eleastyczne godziny pracy</li>
          </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>