<div class="shadowbox-page">
  <mat-list>
    <mat-list-item class="subpage-header">Modyfikuj kategorie</mat-list-item>
    <mat-divider></mat-divider><br>
  </mat-list>
  <div class="container-box" style="width: auto;">
    <form (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Nazwa</mat-label>
        <input matInput placeholder="Nazwa kategorii" required [(ngModel)]="category.rodzajKategorii" name="nazwa">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Czy publiczny</mat-label>
        <select matNativeControl required [(ngModel)]="category.czyPubliczny" name="czyPubliczny">
          <option *ngFor="let item of list" [selected]="category.czyPubliczny === item.value" [value]="item.value">
            {{item.viewValue}}</option>
        </select>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" type="submit" class="btn btn-success"
          style="margin-right: 5px">Zapisz</button>
        <button mat-raised-button color="primary" style="margin-right: 5px" (click)="gotoList()">Cofnij</button>
      </div>
    </form>
  </div>
</div>