
<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Logowanie do aplikacji</mat-toolbar>
    <form fxLayoutAlign="streach" fxLayout="column" class="login-form"[formGroup]="formGroup" (ngSubmit)="loginProces()" >
      <mat-form-field>
        <!-- <mat-label>Favorite food</mat-label> -->
        <input matInput placeholder="Uzytkownik" formControlName="email">
      </mat-form-field>

      <mat-form-field>
        <!-- <mat-label>Favorite food</mat-label> -->
        <input matInput Type="password" placeholder="Haslo" formControlName="password">
      </mat-form-field>
      <button mat-raised-button type="submit">Zaloguj</button>
    </form>
  </mat-card>
</div>

