//Import PRIMENG style - wykorzystane w menu aplikacji
@import "../node_modules/primeng/resources/themes/nova-alt/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/@fullcalendar/common/main.css";
@import "./src/styles/palette.scss";
@import "./src/styles/typography.scss";
@import '~@angular/material/theming';
@include mat-core();

$AHG-app-primary: mat-palette($mat-indigo);
$AHG-app-accent: mat-palette($mat-pink, A200, A100, A400);
$AHG-app-warn: mat-palette($mat-red);
$AHG-app-theme: mat-light-theme((
  color: (
    primary: $AHG-app-primary,
    accent: $AHG-app-accent,
    warn: $AHG-app-warn,
  )
));

@include angular-material-theme($AHG-app-theme);

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif,-apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;; }

.subpage-header {
    color: $white !important;
    background: $subpage-header-color;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 6px 6px 0px 0px;
    display: inline-block;
}

.mat-accordion .mat-expansion-panel {
  margin-bottom: 5px;
}

.mat-raised-button.mat-primary {
  background-color: $button-color;
}

.p-panelmenu .p-panelmenu-header:not(.p-highlight):not(.p-disabled) > a:hover {
  background: $button-color;
  border-color: $button-color;
  color: #333333;
}

.p-panelmenu .p-panelmenu-header.p-highlight > a {
  background: $button-color;
  border-color: $button-color;
  color: #ffffff;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.mat-toolbar.mat-primary {
  background: $side-color;
  color: white;
}

.mat-expansion-panel {
  background: $background-extention-panel;
  color: rgba(0, 0, 0, 0.87);
}

.mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab {
  color: rgba(0, 0, 0, 0.87);
  background-color: $button-color;
}

.shadowbox-page {
  min-height: 480px;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  border-radius: 4px 4px 4px 4px;
}

.item-detail {
  min-height: 30px;
  margin-left: 10px;
  font-size: $regular-size;
}

.container-box {
  min-height: 250px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-top: 15px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
}

.p-dialog .p-dialog-header {
  background: $confirmColor;
}

.p-button {
  background: $button-color;
}

.p-button:enabled:active {
  background: $focusColor;
  color: #ffffff;
  border-color: $button-color;
}

.p-panelmenu .p-panelmenu-header.p-highlight:not(.p-disabled) > a:hover {
  border-color: $side-color;
  background: $focusColor;
  color: #ffffff;
}

.mat-form-field {
padding-right: 15px;
}
