<div class="shadowbox-page">
  <mat-list>
    <mat-list-item class="subpage-header">Wyślij dokumenty do użytkownika</mat-list-item>
    <mat-divider></mat-divider><br>
  </mat-list>
  <p-toast position="top-center" key="tc"></p-toast>
  <div class="container-box" style="width: auto;">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Krok 1: Wybierz użytkownika</mat-card-title>
      </mat-card-header>

      <div class="p-d-flex">
        <div class="p-mr-2">
          <mat-card-subtitle>
            <div class="card flex justify-content-center" style="min-width: 430px;">
              <p-multiSelect [options]="userDTO" defaultLabel="Wybierz użytkownika z listy" [(ngModel)]="selectedUsers"
                [filter]="true" optionLabel="name"></p-multiSelect>
            </div>
          </mat-card-subtitle>
        </div>
        <div class="p-mr-2">
          <button mat-raised-button color="primary" class="btn btn-success" (click)="getUser()">Zatwierdź wybór
            użytkownika
          </button>
        </div>
      </div>
    </mat-card>

    <mat-card *ngIf="hiddenUpload">
      <mat-card-header>
        <mat-card-title>Krok 2: Dodaj pliki</mat-card-title>
      </mat-card-header>
      <div class="p-mr-2">
        <p-fileUpload name="file" url="{{url}}" multiple="multiple" chooseLabel="Wybierz" uploadLabel="Dodaj"
          cancelLabel="Anuluj" (onError)="onError($event)" (onUpload)="onUpload($event)"
          maxFileSize="fileSize"></p-fileUpload>

      </div>
    </mat-card>

  </div>


</div>